In [2]:
import pandas as pd
from sklearn import preprocessing

%pylab inline

data = pd.read_csv('KAGGLEairlinefleetsfleetdata.csv', sep=',')

data.head()

Populating the interactive namespace from numpy and matplotlib

,Parent Airline,Airline,Aircraft Type,Current,Future,Historic,Total,Orders,Unit Cost,Total Cost (Current),Average Age
0,Aegean Airlines,Aegean Airlines,Airbus A319,1.0,NaN,3.0,4.0,NaN,$90,$90,11.6
1,Aegean Airlines,Olympic Air,Airbus A319,NaN,NaN,8.0,8.0,NaN,$90,$0,NaN
2,Aegean Airlines,Aegean Airlines,Airbus A320,38.0,NaN,3.0,41.0,NaN,$98,"$3,724",7.5
3,Aegean Airlines,Olympic Air,Airbus A320,NaN,NaN,9.0,9.0,NaN,$98,$0,NaN
4,Aegean Airlines,Aegean Airlines,Airbus A321,8.0,NaN,NaN,8.0,NaN,$115,$919,10.3

data from https://www.kaggle.com/traceyvanp/airlinefleet

if current = NaN, assume 0. Basically means dataset row is blank, which means 0 / no data

If current = 0/NaN, then current cost is 0, fleet age is 0, etc.

remove $ signs from unit and total cost.

Concatenate future and orders. They are the same thing but from different sources... Future form planespotter.net, orders from wikipedia.

Change total and unit cost to be actual millions

normalize & standardize.

Replace aircraft types with type codes? - not algorithmic, tedious